opc ua to sql nodered flow.json
[{"id":"33370fce8576fc12","type":"MSSQL","z":"e3e243f3a0498dd4","mssqlCN":"efa2b9583113803e","name":"","query":"SELECT * from Table1","outField":"payload","x":320,"y":140,"wires":[["f1842bc1d10dcdd0"]]},{"id":"f1842bc1d10dcdd0","type":"debug","z":"e3e243f3a0498dd4","name":"debug 17","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":140,"wires":[]},{"id":"84f615a1cd7bd510","type":"inject","z":"e3e243f3a0498dd4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":140,"wires":[["33370fce8576fc12"]]},{"id":"0416a0ed5e237c48","type":"comment","z":"e3e243f3a0498dd4","name":"QUERY DATABASE","info":"","x":110,"y":100,"wires":[]},{"id":"27cb69774d483241","type":"comment","z":"e3e243f3a0498dd4","name":"INSERT IN DATABASE","info":"","x":180,"y":180,"wires":[]},{"id":"0e9665ed6ab757c6","type":"MSSQL","z":"e3e243f3a0498dd4","mssqlCN":"efa2b9583113803e","name":"","query":"INSERT INTO Table1 (PLC_data) values ({{{payload.data}}})","outField":"payload","x":440,"y":260,"wires":[[]]},{"id":"d9097f9b3414e43b","type":"function","z":"e3e243f3a0498dd4","name":"msg.payload =  {\"data\":msg.payload};","func":"msg.payload =  {\"data\":msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":260,"wires":[["0e9665ed6ab757c6"]]},{"id":"f9f5231246c82622","type":"inject","z":"e3e243f3a0498dd4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"21","payloadType":"num","x":90,"y":220,"wires":[["d9097f9b3414e43b"]]},{"id":"55c772b4a16660d3","type":"MSSQL","z":"e3e243f3a0498dd4","mssqlCN":"efa2b9583113803e","name":"","query":"DELETE from Table1","outField":"payload","x":320,"y":60,"wires":[["4f475f4fda2e239b"]]},{"id":"4f475f4fda2e239b","type":"debug","z":"e3e243f3a0498dd4","name":"debug 19","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":60,"wires":[]},{"id":"2831b6ba72ea81b5","type":"inject","z":"e3e243f3a0498dd4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":60,"wires":[["55c772b4a16660d3"]]},{"id":"a5d9be45ad3f4349","type":"comment","z":"e3e243f3a0498dd4","name":"DELETE RECORDS","info":"","x":110,"y":20,"wires":[]},{"id":"a78c06ed0a175bc7","type":"OpcUa-Item","z":"e3e243f3a0498dd4","item":"ns=2;s=Channel1.Device1.IoT_data","datatype":"Int32","value":"","name":"","x":260,"y":320,"wires":[["272dc826cf22cfe1"]]},{"id":"272dc826cf22cfe1","type":"OpcUa-Client","z":"e3e243f3a0498dd4","endpoint":"cd0828d1712bb805","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":440,"y":320,"wires":[["50e97fa64a33d88e","d9097f9b3414e43b"]]},{"id":"4d83400065469b59","type":"inject","z":"e3e243f3a0498dd4","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":320,"wires":[["a78c06ed0a175bc7"]]},{"id":"50e97fa64a33d88e","type":"debug","z":"e3e243f3a0498dd4","name":"debug 20","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":320,"wires":[]},{"id":"efa2b9583113803e","type":"MSSQL-CN","z":"e3e243f3a0498dd4","name":"SQL","server":"127.0.0.1","encyption":false,"database":"xavier"},{"id":"cd0828d1712bb805","type":"OpcUa-Endpoint","z":"e3e243f3a0498dd4","endpoint":"opc.tcp://127.0.0.1:49370","secpol":"Basic256Sha256","secmode":"SignAndEncrypt","none":true,"login":false,"usercert":false,"usercertificate":"","userprivatekey":""}]